@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 269, 34%, 25%;
  --accent: 97 100% 68%;
  --background: 0 0% 100%;
  --foreground: 0 0% 7%;
  --success: 142 50% 50%;
  --error: 357 69% 45%;
  --warning: 25 73% 45%;
  --info: 220 70% 45%;

  --contrast-100: 0 0% 93%;
  --contrast-200: 0 0% 89%;
  --contrast-300: 0 0% 72%;
  --contrast-400: 0 0% 60%;
  --contrast-500: 0 0% 53%;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --primary-color: #3F2A56;
  --primary-color-light: #522D72;
  --primary-hover: #522D72;
  --color-special: #BC2251;
  --white-primary: #EFEDF1;
  --white-accent: #DDDAE8;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

.st_product-single-page-row--wrapper {
  grid-template-columns: 500px 1fr;
}
.st_title {
  color: var(--primary-color);
}
.st_light-primary {
  color: var(--primary-color-light);
}
.st_radio-buttons--wrapper button {
  min-width: 24px;
  min-height: 24px;
}
.st_radio-buttons--wrapper button[data-state="checked"] {
  border: 1px solid var(--primary-color);
  span {
    background-color: var(--primary-color);
    width: 12px;
    height: 12px;
    display: block;
  }
}
.st_equal-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  button {
    width: 100%;
  }
}
.st_product-collections-page--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 24px;
}
.st_product-collections-page--wrapper .st_single-card--wrapper {
  padding: 15px;
  border: 1px solid #e7eaec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 250ms ease-in-out;
}
.st_product-collections-page--wrapper .st_single-card--wrapper:hover {
  box-shadow: 0 3px 6px #cacaca;
}
.st_product-collections-page--wrapper .st_single-card--wrapper a:hover img {
  scale: 1.1;
}
.st_product-collections-page--wrapper .st_collections-page-inner--wrapper {
  aspect-ratio: revert!important;
}
.st_product-collections-page--wrapper img {
  position: revert!important;
  inset: revert!important;
  max-width: 100%!important;
  width: 100%!important;
  height: 200px!important;
  object-fit: contain;
  margin-inline: auto!important;
  background-color: #fff!important;
  transition: scale 250ms ease-in-out;
}
.group:hover img {
  transform: translate(0,0) scale(1)!important;
}
.st_subscribe-and-save {
  background-color: #dddae8;
  border-radius: 50px;
  padding-inline: 16px;
  padding-block: 14px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.st_subscribe-and-save label {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  cursor: pointer;
}
.st_subscribe-and-save label input  {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
.st_subscribe-and-save .st_check {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c2bcd7;
  border-radius: 50px;
  transition: background-color 250ms ease-in-out;
}
.st_subscribe-and-save .st_check::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 250ms ease-in-out;
}
.st_subscribe-and-save input:checked ~ .st_check {
  background-color: var(--primary-color);
}
.st_subscribe-and-save input:checked ~ .st_check::before {
  transform: translate(18px, -50%);
}
.st_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.st_arrow-left {
  left: 20px;
}
.st_arrow-right {
  right: 20px;
}
.st_slides {
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translateX(300%);
  transition: transform 250ms ease-out;
  width: max-content;
}
.st_slides.active {
  transform: translateX(-50%);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif!important;
  color: var(--primary-color)!important;
  font-weight: 600!important;
}

@media(max-width: 1250px) {
  .st_product-single-page-row--wrapper {
    grid-template-columns: 400px 1fr;
  }
}
@media(max-width: 991px) {
  .st_product-single-page-row--wrapper {
    grid-template-columns: 1fr;
  }
  .st_product-single-page-inner--wrapper {
    margin-bottom: 0!important;
  }
  .st_image--wrapper {
    max-height: 300px;
  }
}
@media(max-width: 560px) {
  .st_equal-col {
    grid-template-columns: 1fr;
  }
}